<div class='container-fluid' id='workspaceContainer'>
    <div class='col-sm-1' id='notesList'>
        <h4>Notes</h4>
        <hr/>
        <ul><li ng-repeat="title in ctrl.workspaces">{{title}}</li></ul>
    </div>
    <div class='col-sm-8'>
        <form id="notes" ng-submit="ctrl.saveNotes()">
            <input id="x" value="" type="hidden" name="content">
            <trix-editor id='workspace' input='x'></trix-editor>
            <input type="text" id='title' name='title' ng-model="ctrl.note.title" placeholder="Title" required/>
            <input type="submit" id="saveNotes" name="save" value="Save" class="btn btn-success" />
        </form>
    </div>
</div>